{% extends "base.html" %} {% block title %} Sign up {% endblock %} {% block
content %}
<div class="wrapper">
  <form method="POST">
    <h1>Sign Up</h1>
    <div class="input-box">
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
      />
    </div>

    <div class="input-box">
      <input
        type="text"
        class="form-control"
        id="firstName"
        name="firstName"
        placeholder="Enter first name"
      />
    </div>

    <div class="input-box">
      <input
        type="password"
        class="form-control"
        id="password1"
        name="password1"
        placeholder="Enter password"
      />
    </div>

    <div class="input-box">
      <input
        type="password"
        class="form-control"
        id="password2"
        name="password2"
        placeholder="Confirm password"
      />
    </div>
    <br />

    <button type="submit" class="btn">Submit</button>
  </form>
</div>
{% endblock %}
